$red : #B00005 !default;
$yellow : #E6CA88 !default;
*{
  margin: 0;
  padding: 0;
}
.wrapper {
  position: relative;
  width: 980px;
  height: 100%;
  margin: 0 auto;
  .stark {
    position: absolute;
    top: 300px;
    left: 50%;
    margin-left: -100px;
    width:200px;
    .head {
      position: relative;
      overflow: hidden;
      width:95px;
      height: 130px;
      border-radius: 100px;
      background-color: $red;
      .top {
        width: 74px;
        height: 40px;
        background-color: $yellow;
        margin: 0 auto;
        .icon {
          width:32px;
          height:50px;
          margin: 0 auto;
          background-color: $red;
        }
      }
      .bottom {
        border-top: 50px solid $yellow;
        border-left: 24px solid transparent;
        border-right: 25px solid transparent;
        width: 40px;
        margin: 0 auto;
      }
      .middle {
        border-bottom: 25px solid $yellow;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        width: 74px;
        margin: 0 auto;
      }
      .mouth {
        width: 55px;
        height: 16px;
        background-color: $yellow;
        margin: -10px auto;
        border-radius: 4px;
      }
    }
  }
}