$red : #B00005 !default;
$yellow : #E6CA88 !default;
*{
  margin: 0;
  padding: 0;
}
.wrapper {
  position: relative;
  width: 980px;
  height: 100%;
  margin: 0 auto;
  .stark {
    position: absolute;
    top: 300px;
    left: 50%;
    margin-left: -100px;
    width:200px;
    .head {
      position: relative;
      overflow: hidden;
      margin: 0 auto;
      width:95px;
      height: 130px;
      border: 1px solid #000;
      border-radius: 100px;
      background-color: $red;
      z-index: 100;
      .top {
        width: 74px;
        height: 40px;
        background-color: $yellow;
        margin: 0 auto;
        .icon {
          width:32px;
          height:50px;
          margin: 0 auto;
          background-color: $red;
        }
      }
      .bottom {
        position: relative;
        border-top: 50px solid $yellow;
        border-left: 24px solid transparent;
        border-right: 25px solid transparent;
        width: 40px;
        margin: 0 auto;
        .left-line {
          position: absolute;
          top: -18px;
          left: -10px;
          width: 17px;
          height: 1px;
          background-color: #000;
          transform: rotate(-64deg);
          -webkit-transform: rotate(-64deg);
        }
        .line {
          width: 36px;
          height: 1px;
          background-color: #000;
          position: absolute;
          top: -25px;
          left: 2px;
        }
        .right-line {
          position: absolute;
          top: -18px;
          right: -10px;
          width: 17px;
          height: 1px;
          background-color: #000;
          transform: rotate(64deg);
          -webkit-transform: rotate(64deg);
        }
      }
      .middle {
        position: relative;
        border-bottom: 25px solid $yellow;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        width: 74px;
        margin: 0 auto;
        .eyebrow {
          position: absolute;
          top: -34px;
          left: 0;
          width: 74px;
          height: 49px;
          background-color: transparent;
          border-bottom: 1px solid #000;
          border-radius: 110px;
          z-index: 101;
        }
        .left-eye {
          position: absolute;
          top: 14px;
          left: 2px;
          width: 30px;
          height: 5px;
          background-color: #fff;
          z-index: 100;
          transform: rotate(19deg);
          -webkit-transform: rotate(19deg);
          &:after {
            content: "";
            position: absolute;
            height: 0;
            width: 0;
            top: 5px;
            left: 0;
            border-left: 8px solid transparent;
            border-right: 22px solid transparent;
            border-top: 5px solid #fff;
          }
        }
        .right-eye {
          position: absolute;
          top: 14px;
          right: 2px;
          width: 30px;
          height: 5px;
          background-color: #fff;
          z-index: 100;
          transform: rotate(-19deg);
          -webkit-transform: rotate(-19deg);
          &:after {
            content: "";
            position: absolute;
            height: 0;
            width: 0;
            top: 5px;
            left: 0;
            border-left: 22px solid transparent;
            border-right: 8px solid transparent;
            border-top: 5px solid #fff;
          }
        }
      }
      .mouth {
        width: 49px;
        height: 16px;
        background-color: #E6CA88;
        margin: -10px auto;
        border-radius: 4px;
      }
    }
    .head-left-cover {
      position: absolute;
      top: 81px;
      left: 14px;
      width: 63px;
      height: 30px;
      background-color: #fff;
      transform: rotate(72deg);
      -webkit-transform: rotate(72deg);
      z-index: 1000;
    }
    .head-right-cover {
      position: absolute;
      top: 81px;
      right: 14px;
      width: 63px;
      height: 30px;
      background-color: #fff;
      transform: rotate(-72deg);
      -webkit-transform: rotate(-72deg);
      z-index: 1000;
    }
    .body {
      position: relative;
      margin: -11px auto;
      width: 80px;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 77px solid $yellow;
      z-index: 99;
      .shoulder {
        position: absolute;
        top: -75px;
        left: -32px;
        width: 86px;
        border-left: 30px solid transparent;
        border-right: 30px solid transparent;
        border-bottom: 24px solid $red;
        .left {
          position: absolute;
          top: 0;
          left: 4px;
          width: 10px;
          border-left: 5px solid transparent;
          border-right: 0 solid transparent;
          border-top: 21px solid $yellow;
        }
        .right {
          position: absolute;
          top: 0;
          right: 4px;
          width: 10px;
          border-left: 0 solid transparent;
          border-right: 5px solid transparent;
          border-top: 21px solid $yellow;
        }
      }
      .armor {
        position: absolute;
        top: -51px;
        left: 0;
        width: 40px;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-top: 51px solid #B00005;
      }
      .power {
        position: absolute;
        top: -52px;
        left: 23px;
        width: 30px;
        height:30px;
        border:2px solid #000000;
        border-radius: 30px;
        background-color: $yellow;
        .light {
          margin: 5px auto;
          width: 20px;
          height:20px;
          border-radius: 30px;
          background-color: #fff;
        }
      }
      .plant{
        position: relative;
        width: 20px;
        border-left: 30px solid transparent;
        border-right: 30px solid transparent;
        border-top: 20px solid #B00005;
        .line {
          position: absolute;
          top: -20px;
          left: -29px;
          width: 78px;
          border-top: 1px solid #000;
        }
        .cube {
          position: absolute;
          top: -20px;
          left:-2px;
          width: 20px;
          height:10px;
          border: 2px solid #000;
        }
      }
    }
    .left-leg {
      position: absolute;
      top: 200px;
      left: 60px;
      width:30px;
      height: 80px;
      background-color: $yellow;
      border-radius: 0 0 100% 100%;
      z-index: 1;
    }
    .right-leg {
      position: absolute;
      top: 200px;
      right: 60px;
      width: 30px;
      height: 80px;
      background-color: $yellow;
      border-radius: 0 0 100% 100%;
      z-index: 1;
    }
  }
}